   html{
    background-color: #03375d;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   }

   header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: #008080;
    padding: 10px;
    font-size: 35px;
}
main{

    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #008080;
    background-color: white;
    padding: 10px;
    font-size: 25px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.appointment-list{


    height: 370px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 15px;
    border-style:solid;
    border-width: 5px;
    border-color: #03375d;
    background-color:#008080 ;
    padding: 10px;

    overflow-y: hidden;
    overflow-y: scroll;

}

.box{
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: #03375d;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    padding-top: 5%;
    text-align: center;
}

button{
    /* border-radius: 30px;
    width: 10%;
    height: 15%;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif; */

    border-radius: 100px;
    background-color: #396a93;
    padding: 14px 20px;
    margin: 8px;
    width: 10rem;
    flex-wrap: wrap;
    color: white;
    font-size: x-large;
}

@media screen and (max-width: 750px){
    .appointment-list{
        font-size: large;
    }
    
}