* {
    font-family: Arial, Helvetica, sans-serif
}

button, .hour-btn{
    background-color: #0a7e2d;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 12px;
    font-size: 1rem;
}

body, .myBody {
    background-color: #03375d;
}
